#myCarousel.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner.height-480
    .item.active
      .typewriter
        %h1 INOVATION
        %h1.blue-color IS OUR CULTURE

    .item
      .typewriter
        %h1
          TECHNOLOGY
          %span.blue-color EXPERTS
        %h1
          %span.blue-color SOLUTION
          PROVIDERS

    .item
      .typewriter
        %h1 OPEN SOURCE
        %h1.blue-color IS REWARDED HERE

        // %h1
        // %button.btn.btn-default CONTACT US


.container
  .row.d-flex.justify-content-center.page-header
    .col-xs-4.col-md-3.flex-direction-column
      %a.thumbnail.no-padding{:href => "#"}
        = image_tag "Card image grp 01.png"
      = link_to "OPEN SOURCE", 'open-source', class: "btn btn-default white-button margin-top-15"


    .col-xs-4.col-md-3.flex-direction-column
      %a.thumbnail.no-padding{:href => "#"}
        = image_tag "Card image grp 02.png"
      = link_to "OUR WORK", 'portfolio', class: "btn btn-default white-button margin-top-15"
    .col-xs-4.col-md-3.flex-direction-column
      %a.thumbnail.no-padding{:href => "#"}
        = image_tag "Card image grp 03.png"
      = link_to "CONTACT US", 'contact_us', class: "btn btn-default white-button margin-top-15"

%br
.container
  %hr

.container
  .row
    %h1
      %center
        %b.client-header Our Clients

  .row
    .col-md-2
    .col-md-2
      = image_tag "client_logos/star.png"
    .col-md-2
      = image_tag "client_logos/druva.png"
    .col-md-2
      = image_tag "client_logos/go-jek.png"
    .col-md-2
      = image_tag "client_logos/dealsignal.png"
    .col-md-2
  .row
    .col-md-2
    .col-md-2
      = image_tag "client_logos/brandscope.png"
    .col-md-2
      = image_tag "client_logos/clubbuzz.png"
    .col-md-2
      = image_tag "client_logos/cubic_tree.png"
    .col-md-2
      = image_tag "client_logos/we3.png"
  .row
    .col-md-2
    .col-md-2
      = image_tag "client_logos/tpn.png"
    .col-md-2
      = image_tag "client_logos/ffd.png"
    .col-md-2
      = image_tag "client_logos/synergy.png"
    .col-md-2
      = image_tag "client_logos/mdn.png"
  .row
    .col-md-2
    .col-md-2
      = image_tag "client_logos/fundamentor.png"
    .col-md-2
      = image_tag "client_logos/inmaited.png"
    .col-md-2
      = image_tag "client_logos/kwik-kopy.png"
    .col-md-2
      = image_tag "client_logos/dealsignal.png"
  %br
  .row
    %center
      = link_to "VIEW TESTIMONIALS", "testimonials", class: "btn btn-default white-button margin-top-15"
%br

