
#myCarousel.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner
    .item.active
      = image_tag "Banner.png"
    .item
      = image_tag "Banner.png"
    .item
      = image_tag "Banner.png"
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    %span.glyphicon.glyphicon-chevron-left
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    %span.glyphicon.glyphicon-chevron-right
    %span.sr-only Next

.container
  .row.d-flex.justify-content-center.page-header
    .col-xs-6.col-md-3
      %a.thumbnail{:href => "#"}
        = image_tag "Card image grp 01.png"

      %button.btn.button5.justify-content-center Open Source


    .col-xs-6.col-md-3
      %a.thumbnail{:href => "#"}
        = image_tag "Card image grp 02.png"
    .col-xs-6.col-md-3
      %a.thumbnail{:href => "#"}
        = image_tag "Card image grp 03.png"

.container
  .row
    .col-md-12.col-xs-12
      = image_tag "Separator.png"
.container
  .row.well
    .col-md-4
      .about-testimonial
        .about-testimonial-author Newsletter
      %br
      %br
      %iframe{src: "http://www.joshsoftware.com/subscribe", height: "410", width: "340", frameborder: "0"}
    .col-md-4
      .about-testimonial.boxed-style.about-flexslider
        %section.slider
          .flexslider
            %ul.slides.about-flex-slides
              - @testimonials.each do |testimonial|
                %li
                  .about-testimonial-author #{testimonial[:endorser]}
                  %span.about-testimonial-company #{testimonial[:company]}
                  .about-testimonial-content
                    %p.about-testimonial-quote
                      #{raw testimonial[:endorsement].split("<wbr>")[0]}
    .col-md-4
      .about-testimonial
        .about-testimonial-author Open Source
      %br
      %br
      %iframe{src: "https://codecuriosity.org/widgets/group/576425c6d1a1cc5504000012", height: "410", width: "340", frameborder: "0"}
        //.about-testimonial-author Fun at JOSH
      //#fun.align-center
      //= image_tag 'loading.gif'
  .row.well
    .col-md-6
    .col-md-12
      #fun
        = image_tag 'loading.gif'
        //.left.carousel-control{href: '#myFunCarousel', "data" => {slide: "prev"}}
        //%i.glyphicon.glyphicon-chevron-left

        //.right.carousel-control{href: '#myFunCarousel', "data" => {slide: "next"}}
        //%i.glyphicon.glyphicon-chevron-right

.parallax1
  .clients
    .container
      .col-lg-12.text-center
        %ul.list-unstyled
          %li
            %a{href: 'portfolio/#Fundamentor'}
              = image_tag "client_logos/fundamentor_logo.jpg"
          %li
            %a{href: 'portfolio/#Altizon Datonis'}
              = image_tag "client_logos/altizon_logo.png", class: 'logo_width'
          %li
            %a{href: 'portfolio/#Educade'}
              = image_tag "client_logos/educade-logo.png", class: 'logo_width'
          %li
            %a{href: 'portfolio/#Phalcomm'}
              = image_tag "client_logos/phalcomm_logo.png", class: 'logo_width'
          %li
            %a{href: 'portfolio/#TourConnect'}
              = image_tag "client_logos/tourConnectLogo.png", class: 'logo_width'
