= render 'shared/breadcrumbs', data: nil
.container
  .row
    - @projects.each do |project|
      .col-lg-3.well.card-well.portifolio-card{data: project}
        .blog-img{id: project[:title]}
          %a{href: "#", "data-toggle": "modal", "data-target": "#portfolioModal", "data-project": project }
            = image_tag "portfolio/#{project[:image]}", alt: "Screenshot of #{project[:title]}"
        .row
          %center
            .blog-item.card-item
              %h1
                = link_to project[:title], "#" , "data-toggle": "modal", "data-target": "#portfolioModal"
      .col-lg-1


#portfolioModal.modal.fade{:role => "dialog"}
  .modal-dialog.modal-lg
    / Modal content
    .modal-content
      .modal-body.portfolio-body
        #projectCarousel.carousel.slide{ "data-interval" => "false", "data-ride" => "carousel"}
          .carousel-inner
            - @projects.each_with_index do |project, index|
              .item{class: "", id: "item-#{project[:id]}" }
                = render "static/project",  project: project
      %a.left.carousel-control{"data-slide" => "prev", :href => "#projectCarousel"}
        %span.glyphicon.glyphicon-chevron-left.gray-color
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#projectCarousel"}
        %span.glyphicon.glyphicon-chevron-right.gray-color
        %span.sr-only Next


      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
